* {
	padding: 0;

}


div {

   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   align-content: center;

}

.bgcolor {

	background-color: #CECECE

}



h1 {

	font-family: 'Sansita Swashed', cursive;
	
}

h2 {
	font-family: 'Sansita Swashed', cursive;
	text-align: center;
}

p {
   font-family: 'Sansita Swashed', cursive;
   text-align: center;
}

ul {
   font-family: 'Sansita Swashed', cursive;
   text-align: center; 
}

li {
   font-family: 'Sansita Swashed', cursive;
   text-align: center;
}

.nav-link, .nav-item, .navbar-brand, .navbar-toggler-icon {
   color: #FFFFFF;
}

.p-style {
   color:#01AFFA;
}

.h2-style {
   color : #FD0000;
}

.red {
   color: #FD0000;
}

.p-style {
   text-align: center;
}

.blue {
   color: #01AFFA;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
